


.bio {
    scroll-margin-top: 14rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.biocont {

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
   


}


.portrait {

    width: 20rem;
    float: left;
    position: relative;
    display: flex;
 
}


.biocont p {
    background-color: white;
    color: black;
    font-size: large;
    position: relative;
    text-align: center;
    border: none;
    border-radius: 1.5rem;
    padding-top: 1.5em; 
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
   
}