/* Acerca de la fuente Work Sans: https://fonts.google.com/specimen/Work+Sans?query=work+sans 
    <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

/* PALETA
- Cat Poly green: #283d1e
- Light yellow: #fcffdf
- Plum (web): #ffa0ef
- Aquamarine: #c1ffe4
- 


    Gradiente:
    background: rgb(245,255,223);
    background: linear-gradient(158deg, rgba(245,255,223,1) 0%, rgba(193,255,228,1) 100%); 
    
*/


/* ANIMATIONS and root*/

@keyframes animate-in {
    from {
      opacity: 0;
      clip-path: inset(50% 0% 50% 0%);
    }
    to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
    }
  }
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes zoom-in {
    from {
      scale: 1;
    }
    to {
      scale: 1.5;
    }
  }

@keyframes desenfocar {
    from {
      filter: blur(0rem);
    }
    to {
      filter: blur(8rem);
    }
  }

@keyframes slide-in {
    1% {
        transform: translateX(20rem);
        opacity: 0;
     
    }
    100% {transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes pale-blue {
    from {
        background-color: var(--primary-bg-color);
    }
    to {
        background-color: var(--primary-txt-color);
    }
}

:root{
    --CatPolygreen: #283d1e;
    --Light-yellow: #fcffdf;
    --Heavy-yellow: #dbe0ae;
    --Pink-lavender: #ffcaf6;
    --Aquamarine: #c1ffe4;
    --Serene-blue: #0b5a6e;
    --Nature-green: #009600;
    --Maya-blue: #6cc4ff;

    --primary-t-color: #fcffdf6b;
    --area-bg-color: #ffffff;
    --area-hl-txt: #0b5a6e;
    --area-txt-color: #0b5a6e;
    --primary-txt-color: var(--Serene-blue);
    --secondary-txt-color: #004f63;
    --primary-bg-color: var(--Light-yellow);
    --secondary-bg-color: #ffffff;
    --hover-color: var(--Light-yellow);
    --dark-highlight-color: #b638a1;
    --highlight-color: var(--Pink-lavender);
    --primary-light-color: var(--Maya-blue);
    --vertical-dtol-gradient: linear-gradient(
        0deg, rgba(252,255,223,1)0%, #6cc4ff 75%,  #6cc4ff 100%); 
    --gradient-v-white-to-bg: linear-gradient(
       0deg, var(--primary-bg-color)50%, rgba(0,0,0,0) 100%);
    
    --translucent: rgba(252, 255, 223, 0.5);
       --pride-gradient: linear-gradient(180deg,
        rgba(228, 3, 3, 1) 0%,
        rgba(255, 140, 0, 1)20%,
        rgba(255, 237, 0, 1)40%,
        rgba(0, 128, 38, 1)60%,
        rgba(0, 76, 255, 1)80%,
        rgba(115, 41, 130, 1)100%;
       
    );
   
}
    

/* Estilo para el html */	

  html {
    scroll-behavior:smooth;
    justify-content: center;
    align-content: flex;
    user-select: none;
    -webkit-user-drag: none;

  }

/* Estilo de containers */

  /* Estilo para el cuerpo de la página */

header {
    
    background: linear-gradient(90deg, 
    var(--primary-t-color) 0%, 
    var(--primary-bg-color) 30%,
    var(--primary-bg-color)  70%,
    var(--primary-t-color) 100%); 
    padding: 0rem;
    margin: 0rem;
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

body {
    
    font-family: Work Sans, sans-serif;
    
    margin: 0rem;
    padding: 0rem;
    position: relative;
    justify-content: flex;
    text-align: center;
    line-height: 0.5;
    font-weight:normal;
    font-style: normal;
    cursor: default;
    
    background: var(--primary-bg-color);
    background-image: radial-gradient(var(--primary-txt-color) 1px, transparent 0);
    background-size: 25px 25px;
    transition-duration: 0.5s;
}



.main-imgl, .main-imgd {
    padding: 0rem;
    margin: 0rem;
    margin-top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-self: center;   
    border-radius: 0rem;
    /* keep the image at the center and crop when resizing */
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
    width: 100%;
    min-height: 30rem;
    max-height:55rem; 
    background-size: cover;

    
    
}

.header h1 {
    color: var(--primary-txt-color);
    font-style: normal;
    padding-top: 1rem;
    margin: 0rem;
    margin-bottom: 0rem;
    font-weight: 1em;
    font-size: 2em;
    line-height: 1;
    
    
}
.header h3 {
    font-variant: small-caps;
    font-style:normal;
    color: var(--primary-txt-color);
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
    text-decoration:overline underline;
    text-decoration-style: solid;
    text-underline-offset: 0.4rem;
    line-height: 1.8rem;
}

/** navbar style **/

.navbar-container {

    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    border-bottom: 0.4rem solid var(--highlight-color);
    margin: 0rem;
    align-self: center;
    

}

.navbar {
    padding: 0rem;
    margin: 0rem;
    
}

.navbar a {

    display: flex;
    justify-content: center;
    background-color: var(--primary-txt-color);
    color: var(--primary-bg-color);
    line-height: 1.5rem;
    min-width: 250px;
    min-height: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    
    cursor:pointer;
    transition: ease;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.navbar a:hover {
    color: var(--primary-txt-color);
    background-color: var(--highlight-color);
    
}

.navbar a:active {
    color: var(--primary-bg-color);
    
    
}

ul {

    margin: 0rem;
    padding: 0rem;
}

.navbar li {
    display:ruby;
    float:none;
    border-width: 0;
}


/* Estilo para h */
h1 {
    color: var(--primary-txt-color);
    font-size: 2em;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
}

h2 {
    color: var(--primary-txt-color);
    font-size: 200%;
    text-align: center;
    padding-top: 0rem;
    line-height: 1;
}

h3 {
    color: var(--primary-txt-color);
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 150%;
    line-height: 1;
}

h4 {
    color: var(--primary-txt-color);
    text-align: center;
    padding: 0rem 0rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    margin-right: 0rem;
    margin-left: 0rem;
}

/* h5 es usado para los autores de las citas */

h5 {
    color: var(--primary-txt-color);
    text-align: center;
    font-style: bold italic;
    padding: 0rem 0rem;
}

/* Estilo para los párrafos */
p {
    color: black;
    text-align:justify;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    margin-right: 0%;
    margin-left: 0%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 1.5;
    
}


/* Estilo para las citas */

q {
    text-align: center;
    color: var(--primary-txt-color);
    font-style: italic;
    line-height: 1;
    transition-duration: 0.5s;
    cursor: pointer;
   
}

q:hover {
    color: var(--dark-highlight-color);
    
}

/* Estilo para los enlaces */
a {
    color: var(--primary-txt-color);
    text-decoration: none;
    text-align: center;
    margin:  0rem 0rem;
    cursor: pointer;
    transition: ease-in
}   


a:hover {
    color:var(--primary-bg-color);
    
}

li {
    color: var(--primary-txt-color);
    text-align: center;
    list-style-type: none;
    
}

li:hover {
    color: var(--primary-txt-color);
}



/* Estilo para sec0 */	


.Inicio   {
    
    scroll-margin-top: 9rem;
    background: var(--primary-bg-color);
    padding: 0.5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    text-align: center;
    line-height: 0.5rem;
    max-height: min-content;
    align-items: center;
    text-align: center;         
}

/* Estilo para areas */	
.areas-container {
   
    display: flex;
    justify-content: center;
    overflow: clip;
    flex-direction: row;
    padding: 0rem;
    margin: 0rem;
    background: none;

}

.title-band {

    margin: 0rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    color: var(--primary-bg-color);
    background-color: var(--primary-txt-color);
    filter: drop-shadow(0rem 0.2rem 0.2rem black);
    transition-duration: 0.5s;
    border: none;
    align-content: center;
    justify-content: center;

}

.areas-title h1 {
    margin: 0rem;
    padding: 0.5rem;
    
    color: var(--primary-bg-color);
    background-color: none;
    display:block;
    transition-duration: 0.5s;
    border: none;
    position: relative;
    align-self: center;
    display: ruby;

}

.areas-title h1::after,.areas-title h1:hover::after  {
    content: '';
    height: 0.3rem;
    width: 0rem;
    bottom: 0;
    left: -5rem;
    position: absolute;
    background: var(--highlight-color);
    transition: ease-in-out 500ms;
   

}



.title-band:hover #areas-title h1::after {width: 25rem;}


.areas {
    margin-top: 1.5rem !important;
    margin: 0rem;
    padding: 0rem;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    scroll-margin-top: 11rem;
    max-width: 1000px;
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
   

}

.areas h4 {
    color: var(--area-txt-color);
    text-align: center;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    margin: 0rem;
    line-height: 0.5;
    font-variant: small-caps;
    font-size: 1.5rem;

}

.areas p {
    max-width: 14rem;
    border: none !important;
    text-align: justify;
    float: center;
    align-self: center;
    
}




/* @media (hover: hover) and (pointer: fine) {} */
 
    .areas li {
        min-width: 280px;
        min-height: 160px;
        background: var(--area-bg-color);
        padding: 0rem;
        padding-bottom: 0.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        border-radius: 0.4rem;
        text-align: center;
        line-height: 1rem;
        transition: ease;
        transition-duration: 0.5s;
        cursor:default;
        max-height: min-content; 
        filter: drop-shadow(0.1rem 0.1rem 0.2rem black);
        font-variant: small-caps;
        
    } 


/* @media (hover: hover) and (pointer: fine) {} */
 
.areasli:hover {
    background: var(--highlight-color);
    transform: scale(1.1);
    filter: drop-shadow(0.4rem 0.4rem 1rem black);
    
} 

.areas li:active {
transform: scale(1);

}


.areaslipride:hover {
    background-image: url("Images/progress-pride-flag.png");
    background-size:cover;
    transform: scale(1.1);
    filter: drop-shadow(0.4rem 0.4rem 1rem black);
    
}

.areasli:hover #regular {
    color: var(--area-hl-txt)!important;
}

.areaslipride:hover #prideh {

    display: none;
   
}

.areasli img, .areaslipride img {

    margin-top: -4rem;
    margin-bottom: 0rem;
    filter: drop-shadow(0.4rem 0.2rem 0.4rem black);
    transition-duration: 0.5s;

}

.areasli-img-b {

    filter: drop-shadow(0.4rem 0.2rem 0.4rem rgb(170, 0, 147));
}



.areasli:hover .area-img-a {

display: none;

}

.areasli:hover .area-img-b {

    display: inline !important;
    filter: drop-shadow(0.4rem 0.2rem 0.4rem rgb(219, 105, 204));
}

    .areastxt {

        text-align: center;
        padding: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;
        margin-left: 1.6rem;
        border: 0.01rem solid var(--areas-txt-color);
        border-radius: 0.1rem;
        text-align: center;
        line-height: 1rem;
        transition: ease-out;
        transition-duration: 0.5s;
        cursor:default;
        animation-duration: 0.1;
        -webkit-animation: slide-in linear;
        animation: slide-in linear;
        animation-timeline: slide-in view(block 90% auto);
    }


/*Estilo de la agenda*/

.Agenda {
    scroll-margin-top: 16rem;
    overflow: clip;
    margin: 0rem;
    padding: 0rem;
    background: var(--gradient-v-white-to-bg);
}

.ag {
    margin-top: -4rem !important;
    align-self: center;
    width: 100%;
    scale: 80%;
    background-color: white;
    border: 0.5rem groove var(--primary-txt-color);
    border-radius: 2rem;
    margin: 0rem;
    padding: 0;
    min-height: 60rem;
   

}

/* E-mail format */

.formpop {

    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
   background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.closepop {
    
    display: block;
    position: block;
    align-self: right;
    margin: 0rem;
    top: 0rem;
    min-width: 1rem;
    min-height: 1rem;
    background-color: rgb(167, 0, 0);
    color: white;
    line-height: 1rem;
    text-align: center;
    border: none;
    float: right;
    cursor: pointer;

}


.form-parent-container {

    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,
    rgba(0,0,0,0) 0%, var(--primary-bg-color) 90%);
    padding:0rem;

}
.form-title-container {
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.form-title-container h3 {
    
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--area-bg-color);
    color: var(--area-txt-color);
    line-height: 1.5rem;
    max-width: 20rem;
    min-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding: 1rem;
    cursor:pointer;
    transition: ease;
    transition-duration: 0.5s;
    border-radius: 5px;
    filter: drop-shadow(0.2rem 0.2rem 0.4rem black);
}

.form-title-container h3:hover {
    color: var(--primary-txt-color);
    background-color: var(--highlight-color);
    
}

.form-title-container h3:active {
    transform: scale(0.95);
}

.form-title-container p {

    display: flex;
    justify-content: center;
    padding: 0rem;
    margin: 0rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;

}

.formContainer {
    
    justify-content: center;
    align-items: center;
    display: flex;
    position: flex;
   
    

}


.email {

    background-color:var(--primary-bg-color);
    background-size: cover;                                                                     ;
    border: 0.2rem solid var(--primary-txt-color);
    max-width: 1000px; 
    margin-top: 0rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0.4rem;
    z-index: 1;
}

.formContainer h3 { 
    color: var(--primary-txt-color);
    padding-top: 0rem;
    margin: 1rem auto;
    font-size: 100%;
    
}
.formContainer input {

    border: none;
    border-bottom: 0.2rem solid var(--highlight-color);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: large; 
    outline: none; 
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
   
    

}
::placeholder {
    color: var(--primary-txt-color);
    opacity: 0.5;
}

::-ms-input-placeholder {
    color: var(--primary-txt-color);
}

.formContainer select {
    min-width: 14rem;
    max-width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: normal;
}

.message-container {
    
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: center;



}

.formContainer textarea {
    height: 12rem;
    width: 100%;
    margin: 0.5rem;
    margin-top: 0rem;
    padding: none;
    background-color: var(--primary-bg-color);
    border-color: var(--highlight-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    resize: none;
    align-self: stretch;
    border-radius: 0.2rem;
    color: var(--primary-txt-color);

}

.formContainer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #777777;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

select {

    color: var(--primary-txt-color);
    background-color: var(--primary-bg-color);
    height: 1.5rem;
}

.btn {
    border: none !important;
    cursor: pointer; 
    background-color: var(--primary-txt-color);
    color: var(--primary-bg-color);
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: normal; 
    text-align: center;
    float: center;
    transition: ease;
    transition-duration: 0.5s;
}


.btn:hover{
    color: var(--primary-txt-color);
    background-color: var(--highlight-color);
}
.btn:active {
    scale: 90%;
    
}

.nota {
    color: var(--primary-txt-color) !important;
}
.consulta-container {

    padding-top: 6rem;
    
}
.consulta-title {
    margin: 0rem;
    padding: 0rem;
}
.centercontainer {
    padding-top: 8rem !important;
    overflow: clip;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,
    rgba(0,0,0,0) 0%, var(--primary-bg-color) 100%);
    padding:0rem;

}

.Consulta {
    scroll-margin-top: 18rem;
    background: none;
    justify-content: flex;
    align-items: center;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0rem;
    
}
.biocont {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 10rem;
    padding-right: 10rem;
    
    
}
.portrait {
    margin-right: 0rem;
    margin-left: 0rem;
    padding: 0rem;
    width: 18rem;
   
    align-self: flex-end;
    position: absolute;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem black);

        animation: fade-in ease-in;
        animation-duration: 0.2;
        animation-timeline: view(block 90% auto);
}
.biocont {
    overflow: flex;
}
.biocont p {
    width: 100%;
    background-color: var(--secondary-bg-color);
    min-width: 200px;
    font-size: normal;
    position: relative;
    text-align: center;
    border: none;
    border-radius: 1.5rem;
    padding-top: 1em; 
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-self: center;
    transition-duration: 0.5s;
    
        
        animation: slide-in ease-in;
        animation-timeline: view(block 90% auto);
   
}
.biobtn1,.biobtn2 {
    
    filter: drop-shadow(0.1rem 0.1rem 0.5rem black) !important;

}
.biobtn2:hover {

    background-color: var(--highlight-color);
    color: var(--primary-txt-color);
    cursor: pointer;

}

.tab-move {

    filter:invert();
    scale: 0.5;
    padding: 0rem;
    padding-left: 0.4rem;
    margin: -1.2rem;
    height: 4rem;
    width: 4rem;

}

/* popup */

.popup-overlay {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

.popup {

    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-bg-color);
    padding: 1rem;
    border-radius: 0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 0.1rem;
    border-left: 0.5rem solid var(--highlight-color);
}

.popup p {

background: none !important;
color: var(--primary-txt-color) !important;


}

.popup-content {

    text-align: center;

}

.popup-content p {

    line-height: 1rem;
    padding: 0.5em;
    text-align: start;

}
.popup button {

    background-color: var(--primary-txt-color);
    color: var(--primary-bg-color);
    margin-top: 1em;
    padding: 0.8em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    color: var(--primary-bg-color);
}
.popup button:hover {
    color: var(--primary-txt-color);
    background-color: var(--highlight-color);

}

/* popup end */

.menu {

background-color: var(--primary-bg-color);
top: 0;
left: 0;
bottom: 0;
min-width: 15rem;
max-width: 80vw;
height: 100vh;
position: fixed;
z-index: 3;
margin: 0rem;
padding: 0rem;
display: none;
border-right: 0.5rem solid var(--primary-txt-color)
}

.menu-icon {
    float: left;
    cursor: pointer;
    margin: 0rem;
    padding-left: 0.5rem;
    position:sticky;
    

}

.close-icon-cont {
    
    margin-top: 2rem; 
    padding-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    cursor: pointer;
}



.close-icon {

    position: end;
    color: indigo;
}

.menu-body {

    padding-left: 2.5rem;
}


.menu h3 {

text-align: justify;
font-weight: 500;

}

.toggle-theme-btn {

    float: right;
    cursor: pointer;
    margin: 0rem;
    padding-right: 0.5rem;
    position:sticky;
}

