/* Acerca de la fuente Work Sans: https://fonts.google.com/specimen/Work+Sans?query=work+sans 
    <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

/* PALETA
- Cat Poly green: #283d1e
- Light yellow: #fcffdf
- Plum (web): #ffa0ef
- Aquamarine: #c1ffe4
- 


    Gradiente:
    background: rgb(245,255,223);
    background: linear-gradient(158deg, rgba(245,255,223,1) 0%, rgba(193,255,228,1) 100%); 
    
*/


/* ANIMATIONS */

@keyframes animate-in {
    from {
      opacity: 0;
      clip-path: inset(50% 0% 50% 0%);
    }
    to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
    }
  }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes zoomIn {
    from {
      scale: 1;
    }
    to {
      scale: 1.5;
    }
  }

@keyframes desenfocar {
    from {
      filter: blur(0rem);
    }
    to {
      filter: blur(2rem);
    }
  }


/* Estilo para el html */	

  html {
    scroll-behavior:smooth;
  }

/* Estilo de containers */

.header-container {
    
    position: relative;
    text-align: center;
}


  /* Estilo para el cuerpo de la página */

header {
    background-color: #fcffdf;
    padding: 0rem;
    margin: 0rem;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 1;
  
}

body {
    
    font-family: Work Sans, sans-serif;
    background: #fcffdf;
    margin: 0rem;
    position: relative;
    text-align: center;
    line-height: 0.5;
    font-size: smaller;
    font-weight:normal;
    font-style: normal;
}

/* Estilo del header */



.main-img {
    padding: 0rem;
    margin: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    align-self: center;
    width: 100%;
    padding: 0rem;
    margin: 0rem;

    border-radius: 0rem;
    
    -webkit-animation: desenfocar linear;
    animation: desenfocar linear;
    animation-timeline: scroll(y);

    /* keep the image at the center and crop when resizing */
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
    width: 100%;
    min-height: 30rem;
    max-height:60rem; 
    background-size: cover;
    
    
}

.header h1 {
    
    font-style: normal;
    color: #283d1e;
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin: 0rem;
    font-weight: 1em;
    font-size: 2em;
    line-height: 1;
}
.header h3 {
    
    font-style:normal;
    color: #283d1e;
    padding-top: 0rem;
    margin: 0rem;
    text-align: center;
    font-weight: 2em;
    font-size: 1.2em;
}

/** navbar style **/


.navbar {
    padding: 0rem;
    margin: 0rem;
    top: 0;
    left: 0;
    right: 0;

    
}
.navbar ul {
    
    list-style-type: none;
    line-height: 1.5;
    padding: 0rem;
    margin: 0rem;
    
}
.navbar a {
    background-color: #283d1e;
    color: #fcffdf;
    line-height: 1.5rem;
    min-width: 15rem;
    min-height: 1.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor:pointer;
    transition: ease;
    transition-duration: 0.5s;
}

.navbar a:hover {
    color: #000000;
    background-color: #fcffd1;
    
}

.navbar a:active {
    color: #000000;
    background-color: #ffa0ef;
    
}


.navbar li {
    display:ruby;
    float:none;
}


/* Estilo para h */
h1 {
    color: #2C302E;
    font-size: 2em;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 0;
    font-style: normal;
    font-weight: normal;
}

h2 {
    color: #075836;
    font-size: 200%;
    text-align: center;
    padding-top: 0rem;
    line-height: 1;
}

h3 {
    color: #272727;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 150%;
    line-height: 1;
}

h4 {
    color: #2C302E;
    text-align: center;
    padding: 0rem 0rem;
}

/* h5 es usado para los autores de las citas */

h5 {
    color: #474A48;
    text-align: center;
    font-style: bold italic;
    padding: 0rem 0rem;
}

/* Estilo para los párrafos */
p {
    color: #474A48;
    text-align:justify;
    margin: 1rem 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 1.5;
    
}


/* Estilo para las citas */

q {
    text-align: center;
    color: #2C302E;
    font-style: italic;
    line-height: 1;
}

/* Estilo para los enlaces */
a {
    color: #2C302E;
    text-decoration: none;
    text-align: center;
    margin:  0rem 0rem;
    cursor: pointer;
    transition: ease-in
}

b {
    color: #2C302E;
    text-align: center;
    text-decoration: none;
    padding:  0rem 0rem;
    
}

a:hover {
    color:#ffffff;
    
}

b:hover {
    color:#4e5000;
    
}
/* Estilo para el icono de menú */
menu-logo-link  {
    color:#8D91C7;
    
}

li {
    color: #2e2e2e;
    text-align: center;
    list-style-type: none;
    
}

li:hover {
    color: #000000
}



/* Estilo para sec0 */	

.sec0   {

    background: linear-gradient(158deg, rgb(202, 255, 223) 0%, rgb(202, 233, 253) 100%); 
    padding: 2rem;
    margin: 3rem;
    margin-top: 8rem;
    border: 0.15rem solid #075300;
    border-radius: 5rem;
    text-align: center;
    line-height: 0.5rem;

    scroll-margin-top: 11rem;
    
    -webkit-animation: fadeIn ease;
    animation: fadeIn ease;
    animation-timeline: view();
      
    
}

.sec1 {

    scroll-margin-top: 10rem;

}

.sec1 h3 {
    color: #2C302E;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 150%;
    line-height: 1;
}

/* Estilo para sec1 */	
.sec1 li {
    
    background: linear-gradient(158deg, rgb(202, 255, 223) 0%, rgb(202, 233, 253) 100%); 
    
    
    padding: 0rem;
    margin: 2rem;
    border: 0.01rem solid #2C302E;
    border-radius: 0.1rem;
    text-align: center;
    line-height: 1.5rem;
    transition: ease;
    transition-duration: 0.5s;
}

.sec1 li:hover {
    background: rgb(255,252,196);
    background: linear-gradient(158deg, rgba(255,252,196,1) 0%, rgba(255,167,249,1) 100%);
    scale: 1.1;
    
}

.sec1 li p {
    text-align: center;    
}



