/* Acerca de la fuente Work Sans: https://fonts.google.com/specimen/Work+Sans?query=work+sans 
    <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

/* PALETA
- Cat Poly green: #283d1e
- Light yellow: #fcffdf
- Plum (web): #ffa0ef
- Aquamarine: #c1ffe4
- 


    Gradiente:
    background: rgb(245,255,223);
    background: linear-gradient(158deg, rgba(245,255,223,1) 0%, rgba(193,255,228,1) 100%); 
    
*/


/* ANIMATIONS and root*/

@keyframes animate-in {
    from {
      opacity: 0;
      clip-path: inset(50% 0% 50% 0%);
    }
    to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
    }
  }
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes zoom-in {
    from {
      scale: 1;
    }
    to {
      scale: 1.5;
    }
  }

@keyframes desenfocar {
    from {
      filter: blur(0rem);
    }
    to {
      filter: blur(8rem);
    }
  }

@keyframes slide-in {
    1% {
        transform: translateX(20rem);
        opacity: 0;
     
    }
    100% {transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes pale-blue {
    from {
        background-color: var(--primary-bg-color);
    }
    to {
        background-color: var(--primary-txt-color);
    }
}

:root{
    --CatPolygreen: #283d1e;
    --Light-yellow: #fcffdf;
    --Pink-lavender: #ffcaf6;
    --Aquamarine: #c1ffe4;
    --Serene-blue: #0b5a6e;
    --Nature-green: #009600;
    --Maya-blue: #6cc4ff;

    --primary-txt-color: var(--Serene-blue);
    --secondary-txt-color: #004f63;
    --primary-bg-color: var(--Light-yellow);
    --hover-color: var(--Light-yellow);
    --highlight-color: var(--Pink-lavender);
    --primary-light-color: var(--Maya-blue);
    --primary-gradient: linear-gradient(
        158deg, rgb(157, 255, 196) 0%, rgb(108, 196, 255) 100%); 
    --higlight-gradient: linear-gradient(
        158deg, rgba(255,252,196,1) 0%, rgba(255,167,249,1) 100%);
    --vertical-ltod-gradient: linear-gradient(
        0deg, #6cc4ff 0%, rgba(213,228,205,1) 75%, rgba(252,255,223,1) 100%);
    --primary-dark-gradient: linear-gradient(
        0deg, rgb(0, 88, 110) 0%, rgb(224, 0, 206) 100%);
    --black-grey-gradient:(
        158deg, rgb(157, 255, 196) 0%, rgb(105, 105, 105) 100%);
}

/* Estilo para el html */	

  html {
    scroll-behavior:smooth;
  }

/* Estilo de containers */

.header-container {
    
    position: relative;
    text-align: center;
}


  /* Estilo para el cuerpo de la página */

header {
    background-color: var(--primary-bg-color);
    padding: 0rem;
    margin: 0rem;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 1;
  
}

body {
    
    font-family: Work Sans, sans-serif;
    background: var(--primary-bg-color);
    margin: 0rem;
    position: relative;
    text-align: center;
    line-height: 0.5;
    font-weight:normal;
    font-style: normal;
    cursor: default;
}

/* Estilo del header */



.main-img {
    padding: 0rem;
    margin: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    align-self: center;
    width: 100%;
    padding: 0rem;
    margin: 0rem;

    border-radius: 0rem;
    
    -webkit-animation: desenfocar linear;
    animation: desenfocar linear;
    animation-timeline: scroll(y);

    /* keep the image at the center and crop when resizing */
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
    width: 100%;
    min-height: 30rem;
    max-height:60rem; 
    background-size: cover;

    
    
    
}

.header h1 {
    
    font-style: normal;
    color: var(--primary-txt-color);
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin: 0rem;
    margin-bottom: 0.4rem;
    font-weight: 1em;
    font-size: 2em;
    line-height: 1;
    background-image: var(--primary-dark-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.header h3 {
    font-variant: small-caps;
    font-style:normal;
    color: var(--primary-txt-color);
    padding-top: 0rem;
    margin: 0rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
    text-decoration:overline underline;
    text-decoration-style: solid;
    text-underline-offset: 0.4rem;
}

/** navbar style **/


.navbar {
    padding: 0rem;
    margin: 0rem;
    top: 0;
    left: 0;
    right: 0;

    
}
.navbar ul {
    
    list-style-type: none;
    line-height: 1.5;
    padding: 0rem;
    margin: 0rem;
    
}
.navbar a {
    background-color: var(--primary-txt-color);
    color: var(--primary-bg-color);
    line-height: 1.5rem;
    min-width: 15rem;
    min-height: 1.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor:pointer;
    transition: ease;
    transition-duration: 0.5s;
}

.navbar a:hover {
    color: var(--primary-txt-color);
    background-color: var(--highlight-color);
    
}

.navbar a:active {
    color: var(--primary-bg-color);
    
    
}


.navbar li {
    display:ruby;
    float:none;
    border-width: 0;
}


/* Estilo para h */
h1 {
    color: var(--primary-txt-color);
    font-size: 2em;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
}

h2 {
    color: var(--primary-txt-color);
    font-size: 200%;
    text-align: center;
    padding-top: 0rem;
    line-height: 1;
}

h3 {
    color: var(--primary-txt-color);
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 150%;
    line-height: 1;
}

h4 {
    color: var(--primary-txt-color);
    text-align: center;
    padding: 0rem 0rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

/* h5 es usado para los autores de las citas */

h5 {
    color: var(--primary-txt-color);
    text-align: center;
    font-style: bold italic;
    padding: 0rem 0rem;
}

/* Estilo para los párrafos */
p {
    color: var(--primary-txt-color);
    text-align:justify;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 1.5;
    
}


/* Estilo para las citas */

q {
    text-align: center;
    color: var(--primary-txt-color);
    font-style: italic;
    line-height: 1;
    transition-duration: 0.5s;
    cursor: pointer;
   
}

q:hover {
    color: orange;
    
}

/* Estilo para los enlaces */
a {
    color: var(--primary-txt-color);
    text-decoration: none;
    text-align: center;
    margin:  0rem 0rem;
    cursor: pointer;
    transition: ease-in
}   


a:hover {
    color:var(--primary-bg-color);
    
}

li {
    color: var(--primary-txt-color);
    text-align: center;
    list-style-type: none;
    
}

li:hover {
    color: var(--primary-txt-color);
}



/* Estilo para sec0 */	

.Inicio   {

    background: var(--primary-gradient);
    padding: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 0.15rem dotted var(--primary-txt-color);
    border-radius: 2rem;
    text-align: center;
    line-height: 0.5rem;
    max-height: min-content;
    align-items: center;
    text-align: center;
    scroll-margin-top: 10rem;
    
    /* -webkit-animation: fade-in ease;
    animation: fade-in ease;
    animation-timeline: view();
    */
      
    
}

/* Estilo para Consulta */	

.areas h1 {
    margin: 0rem;
    padding: 1rem;
    color: var(--primary-bg-color);
    background-color: var(--primary-txt-color);

}
.Consulta {

    scroll-margin-top: 9rem;
    height: min-content;
    align-items: center;
    text-align: center;
    overflow-x: clip;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background: var(--primary-light-color);

}

.Consulta h4 {
    color: var(--primary-txt-color);
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 150%;
 
} 




@media (hover: hover) and (pointer: fine) {
 
    .Consulta li {
    
        background: var(--primary-bg-color);
        padding-bottom: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        border: 0.01rem solid var(--primary-txt-color);
        border-radius: 0.1rem;
        text-align: center;
        line-height: 1rem;
        transition: ease;
        transition-duration: 0.5s;
        cursor:default;
        max-height: min-content;
       
        
        
    } }


@media (hover: hover) and (pointer: fine) {
 
.Consulta li:hover {
    background: var(--higlight-gradient);
    scale: 1.1;
    
} }

    .Consulta li p {
        text-align: center;
         
    }

li {
    min-width: 20rem;
    background: var(--primary-gradient);
    padding: 0rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 0.01rem solid var(--primary-txt-color);
    border-radius: 0.1rem;
    text-align: center;
    line-height: 1.5rem;
    transition: ease-out;
    transition-duration: 0.5s;
    cursor:default;
    animation-duration: 0.1;
    -webkit-animation: slide-in linear;
    animation: slide-in linear;
    animation-timeline: slide-in view(block 90% auto);

    
}


/*Estilo de la agenda*/

.sec2 {
    scroll-margin-top: 6rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    overflow:hidden;
   
}

.Agenda h1 {

    padding-top: 2rem;

}

.Agenda {
    scroll-margin-top: 8rem;
}

.ag {
    width: 100%;
    background-color: white;
    border: 0.5rem groove var(--primary-txt-color);
    margin: 0rem;
    padding: 0;
    min-height: 55rem;
    max-height: none;

}

/* E-mail format */

.formContainer {
    background-color: white                                                                          ;
    border: 0.2rem solid var(--primary-txt-color);
    max-width: 600px; 
    margin: 1rem auto;
    padding: 0rem;
    overflow: clip;
    justify-content: flex;
    align-items: center;
    display: flex;
  
}

.formContainer h3 { 
    color: var(--primary-txt-color);
    padding-top: 0rem;
    margin: 1rem auto;
}
.formContainer input {

    border: none;
    border-bottom: 0.2rem solid var(--primary-txt-color);
    
    font-size: normal; 
    outline: none; 
}
.formContainer select {
    max-width: 200px;
    margin-top: 1rem;
    cursor: pointer;
}
.formContainer textarea {
    width: 95%;
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: none;
    border-color: var(--primary-txt-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    resize: none;
    

}
.formContainer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #777777;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 1rem;
}
.btn {
    border: none !important;
    cursor: pointer; 
    background-color: var(--primary-txt-color);
    color: var(--primary-bg-color);
    margin: 2rem, auto;
    padding: auto;
    font-size: normal; 
    width: 8rem;
    height: 2rem;
    text-align: center;
    float: center;
    transition: ease;
    transition-duration: 0.5s;
}
.btn:hover{
    color: var(--primary-txt-color);
    background-color: var(--highlight-color);
}
.btn:active {
    color: var(--primary-bg-color);
    
}

.centercontainer {

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--vertical-ltod-gradient);
    padding:0rem;
}

.bio {
    scroll-margin-top: 14rem;
    background: none;
    justify-content: flex;
    align-items: center;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0rem;
    
}
.biocont {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 10rem;
    padding-right: 10rem;
    
    
}
.portrait {
    margin-right: 0rem;
    margin-left: 0rem;
    padding: 0rem;
    width: 18rem;
   
    align-self: flex-end;
    position: absolute;
    

        animation: fade-in ease-in;
        animation-duration: 0.2;
        animation-timeline: view(block 90% auto);
}
.biocont p {
    float: center;
    background-color: white;
     
    font-size: normal;
    position: relative;
    text-align: center;
    border: none;
    border-radius: 1.5rem;
    padding-top: 1em; 
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction:row;
    
   
   
        animation: slide-in ease-in;
        animation-timeline: view(block 95% auto)
   
}

.biocont a p:hover {

    background-color: var(--highlight-color);

}

.tab-move {

    filter:invert();
    scale: 0.5;
    padding: 0rem;
    padding-left: 0.4rem;
    margin: -1.2rem;
    height: 4rem;
    width: 4rem;

}

