@import url(https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css);

.root {

    --blue: #2c3e50

}



.layout {
    width: 100%;
}
html {
scroll-behavior: smooth; 
left: 0;
right: 0;
display: flex;
}

.navbar {
    background-color: var(--blue);
    z-index: 1;
}

header {
    z-index: 1;
    left:0; 
    right:0; 
    top: 0; 
    position: sticky;
}


a {
    color: rgb(190, 190, 190);
}

a:hover {
    color: rgb(255, 255, 255);
}

.intro {
    margin-top: 2rem;
    text-align: center;
    float: center;
    align-self: center;
}

p {
    align-self: center;
    margin: 1rem;
    padding: 1rem;

}

.alerta {

    text-align: center;
    background-color: rgb(143, 64, 0);
    color: white;
    line-height: 1rem;
    margin: 0rem;

}

.yt {
    position: relative;
    display: block;
    width: 90%; /* width of iframe wrapper */
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%; /* 16:9 ratio */
}

iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}